<p>
    test works! Inside app-test
</p>
<!-- <h2 *ngIf="displayName; else elseBlock"> Hello {{name}}</h2>

<ng-template #elseBlock>
    <h2>
        Name is Hidden
    </h2>
</ng-template> -->
<!-- <h2 *ngIf="displayName; then thenBlock; else elseBlock"> </h2>

<ng-template #thenBlock>
    <h2>Its True and the name is {{name}}</h2>
</ng-template>

<ng-template #elseBlock>
    <h2>Its false and the name is hidden</h2>
</ng-template>

<div [ngSwitch]="color">You picked Red color</div> -->

<!-- <button (click)="onClick($event)">Greet</button>
<input #myInput type="text">
<button (click)="logMessage(myInput.value)">Log</button>
<button (click)="logMessage(myInput)">LogRef</button> -->


<input [(ngModel)]="name" type="text">
{{name}}
