<p>
  log-in works!
</p>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">User Details</a>
    </div>
    <ul class="nav ">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">logIn</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div>
  <div class="col-5 container border" style="background-color:#cac1c1;">
    <h2>Add User</h2>
    <form>
      <div class="form-group col-7">
        <label for="usr">Name:</label>
        <input #user type="text" placeholder="Enter Your Name" class="form-control">
      </div>
      <div class="form-group col-7">
        <label for="pwd">Password:</label>
        <input #passwd type="password" placeholder="Enter password" class="form-control">
      </div>
      <button type='submit' class="btn btn-success pull-right" >Test Button</button>
    </form>
  </div>
</div>
