<header id="content_list_head">
    <div class="container">
      <div class="landing_header">
        <div class="logo_head">
          <img src="/assets/images/logo_on_other_page.png">
        </div>
        <div class="logout_btn">
          <a href="#" class="usr_defalut">
            <img src="/assets/images/userDefault.png">
          </a>
          <a href="#" (click)="onlogOut()">
            <span>
              <img src="/assets/images/if_common-logout-signout-exit-outline-stroke_763290.png">
            </span> Logout </a>
        </div>
      </div>
    </div>
  </header>
