<div class="main">
  <div class="darkContainer">
      <div class="rowBox">
      <div class="colBox s-r">
        <div class="sMainOverlay">
        <div class="rowBox">
          <div class="colBox">
            <div class="textContainer text-white">
              <div class="logoSpace">
                Logo here
              </div>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
              <button class="btn btn-rounded mbtn"> <a ui-sref="register"> REGISTER </a></button>
            </div>
          </div>
        </div>
    </div>
      </div>
      <div class="colBox s-l">
        <div class="formBox">
        <div class="lfWidth">
        <div class="w-sBox">
          <div class="dbForm">
            <h3 class="lead text-white">Login to your account</h3>
           <div class="form-group">
            <span class="ico-lock">
            <svg>
              <use xlink:href="/img/sprite.svg#userIco" />
            </svg>
          </span>
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
            <span class="ico-lock">
            <svg>
              <use xlink:href="/img/sprite.svg#lockIco" />
            </svg>
          </span>
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="align-btn">
              <button class="btn btn-rounded o-border mbtn1">
                <a ui-sref="login"> LOGIN </a>
              </button>
              <a href="#" class="f-micro">Forgot Password ?</a>
            </div>
        </div>
        <span class="f-micro">Or you can login with</span>
          <ul class="social">
              <li>
                <a href="" class="text-white">
                  <i class="fa fa-linkedin lin"></i>
                </a>
              </li>
              <li>
                <a href="" class="text-white">
                  <i class="fa fa-twitter twt"></i>
                </a>
              </li>
              <li>
                <a href="" class="text-white">
                  <i class="fa fa-facebook fb"></i>
                </a>
              </li>
            </ul>
        </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
