<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">LogIn</a></li>
      <li class="active"><a routerLink="/dashboard">LogOut</a></li>

    </ul>
  </div>
</nav>

<!-- <nav *ngIf="" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">LogOut</a></li>
    </ul>
  </div>
</nav> -->
